div {
    font-family: Arial, Helvetica, sans-serif0;
    background: #a8cf45;
    text-align: center;
    position: relative;
    width: 120px;
    height: 50px;
    margin: 30px 0 0 10px;
}

p {
    padding-top: 15px;
}

.descolgar {
    -webkit-animation: 1s descolgar 1;
    -webkit-transform-origin: top left;
}

@-webkit-keyframes descolgar {
    20%,
    60% {
        -webkit-transform: rotate(80deg);
    }
    40% {
        -webkit-transform: rotate(60deg);
    }
    80% {
        -webkit-transform: translateY(400px);
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}