div {
    font-family: 'Arial';
    background-color: #a8cf45;
    margin: 10px 10px;
    text-align: center;
    font-weight: bolder;
    padding: 15px 30px;
    width: 80px;
    display: inline-block;
    vertical-align: middle;
}

.esquina_pagina {
    -webkit-transform: translateX(0);
}

.esquina_pagina:before {
    content: '';
    -webkit-transition-duration: 0.3s;
    width: 0;
    height: 0;
    background: -webkit-linear-gradient(45deg, white 45%, #aaa 50%, #ccc 60%, white);
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.esquina_pagina:hover:before {
    width: 35px;
    height: 35px;
}