div {
    font-family: 'Arial';
    background-color: #a8cf45;
    margin: 10px 10px;
    text-align: center;
    font-weight: bolder;
    padding: 15px 30px;
    width: 80px;
    display: inline-block;
    vertical-align: middle;
}

.sombra_difuminada {
    box-shadow: 0px 0px 1px black;
}

.sombra_difuminada:hover {
    box-shadow: 0px 0px 8px #aaa7a7;
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
}